@media (max-width: 767px) {
    .input-login {
      position: absolute;
      width: 237px;
      height: 27px;
      border-radius: 20px;
      padding: 3px;
      margin-left: -183px;
      background-color: #fff;
    }
  
    #input-login-email {
      margin-top: 345px;
    }
  
    #input-login-password {
      margin-top: 400px;
    }
  
    .img-login {
      position: absolute;
      margin-left: -173px;
      z-index: 2;
      background-color: transparent;
    }
  
    #img-input-login-email {
      margin-top: 349px;
    }
  
    #img-input-login-password {
      margin-top: 43px;
    }
  }

@media (min-width: 768px) and (max-width: 1023px) {

    .input-login {
        position: absolute;
        width: 237px;
        height: 27px;
        border-radius: 20px;
        padding: 3px;
        margin-left: 430px;
        background-color: #fff;
    }

    #input-login-email {
        margin-top: -410px;
    }

    #input-login-password {
        margin-top: -340px;
    }

    .img-login {
        margin-left: 440px;
        position: absolute;
        z-index: 2;
        background-color: transparent;
    }

    #img-input-login-email {
       margin-top: -406px;

    }

    #img-input-login-password {
        margin-top: -338px;

    }

        
}

@media (min-width: 1024px) {

    .input-login {
        position: absolute;
        width: 237px;
        height: 27px;
        border-radius: 20px;
        padding: 3px;
        margin-left: 615px;
        background-color: #fff;
    }

    #input-login-email {
        margin-top: -400px;
    }

    #input-login-password {
        margin-top: -320px;
    }

    .img-login {
        margin-left: 625px;
        position: absolute;
        z-index: 2;
        background-color: transparent;
    }

    #img-input-login-email {
        margin-top: -396px;

    }

    #img-input-login-password {
        margin-top: -317px;

    }

}

