#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 767px) {
  
    /* Estilos para telas menores */
  } 
  
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para telas médias */
    
  }
  
  @media (min-width: 1024px) {
*{

background: #9DC8E8;

}
    #Box-principal{
        width: 960px;
        height: 776px;
           background: #f8f7f7;
           border-radius: 20px;
        }
        
    #box-1{
        background-color: blueviolet;
        position: absolute;
        width: 960px;
        height: 92px;
        border-radius: 20px 20px 0px 0px ;
        background: rgba(25, 141, 225, 0.98);
    }
    #titulo{
        color: aliceblue;
        position: absolute;
        margin-top: 24px;
        margin-left: 400px;
        background-color: transparent;

    }
    #box-ll1{
        position: absolute;
        background-color: rgb(0, 0, 0);
        width: 210px;
        height: 200px;
        margin-top: 498px;
        margin-left: 715px;
        border-radius: 15px;
        background: #FFF;
        box-shadow: 11px 11px 8px 3px rgba(0, 0, 0, 0.25);
    }
    #box-ll2{
        position: absolute;
        background-color: rgb(0, 0, 0);
        width: 210px;
        height: 200px;
        margin-top: 498px;
        margin-left: 376px;
        border-radius: 15px;
        background: #FFF;
        box-shadow: 11px 11px 8px 3px rgba(0, 0, 0, 0.25);
    }
    #box-ll3{
        position: absolute;
        background-color: rgb(0, 0, 0);
        width: 210px;
        height: 200px;
        margin-top: 498px;
        margin-left: 35px;
        border-radius: 15px;
        background: #FFF;
        box-shadow: 11px 11px 8px 3px rgba(0, 0, 0, 0.25); 

    }
    #box-ll4{
        position: absolute;
        background-color: rgb(0, 0, 0);
        width: 210px;
        height: 200px;
        margin-top: 194px;
        margin-left: 715px;
        border-radius: 15px;
        background: #ffffff;
        box-shadow: 11px 11px 8px 3px rgba(0, 0, 0, 0.25); 

    }
    #box-ll5{
        position: absolute;
        background-color: rgb(0, 0, 0);
        width: 210px;
        height: 200px;
        margin-top: 194px;
        margin-left: 376px;
        border-radius: 15px;
        background: #ffffff;
        box-shadow: 11px 11px 8px 3px rgba(0, 0, 0, 0.25); 

    }
    #box-ll6{
        position: absolute;
        background-color: rgb(0, 0, 0);
        width: 210px;
        height: 200px;
        margin-top: 194px;
        margin-left: 35px;
        border-radius: 15px;
        background: #ffffff;
        box-shadow: 11px 11px 8px 3px rgba(0, 0, 0, 0.25); 

    }
    #input{
        position: absolute;
        width: 465px;
        height: 55px;
        margin-top: 108px;
        margin-left: 237px;
        border-radius: 20px;
        background-color: transparent;

    }
    #img{
        position: absolute;
        width: 46px;
        height: 46px;
        margin-top: 115px;
        margin-left: 250px;
        background-color: transparent;

    }
   #barras{
    position: absolute;
        width: 46px;
        height: 46px;
        margin-top: 20px;
        margin-left: 900px;
        background-color: transparent;
        
   }
   #next-button{
    position: absolute;
    width: 81px;
    height: 35px;
    margin-top: 721px;
    margin-left: 448px;
        background-color: transparent;
   }
    #span{
        position: absolute;
        width: 361px;
        height: 775px;
        margin-top: 1px;
        margin-left: 599px;
        background: linear-gradient(219deg, rgba(25, 141, 225, 0.98) 26.64%, rgba(129, 188, 231, 0.21) 79.42%), #FFF;
    }

    .list-modal{
        display: flex;
        background-color: transparent;
        align-items: center;
        gap: 15px;
        width: 335px;
        padding: 10px 15px 10px 10px;
        cursor: pointer;
    }

    .list-modal:hover{
        background-color: rgb(159, 159, 159);

    
    }

    #menul{
        background-color: transparent;
    position: absolute;
    margin-top: 1px;
    margin-left: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    }
    /* #box-menul{
        width: 456px;
        height: 85px;
        position: absolute;
        background-color: black;
        margin-top: -65px;
        margin-left: 665px;
    } */
    #saida{
        background-color: transparent;
        /* position: absolute; */
        /* margin-top: 135px; */
        width: 50px;
        height: 50px;
    }
    #suport{
        background-color: transparent;
        /* position: absolute;
        margin-top: 6px; */
        width: 50px;
        height: 50px;
    }
    #config{
        background-color: transparent;
        /* position: absolute;
        margin-top: -122px; */
        width: 50px;
        height: 50px; 
    }
    #h1-configuracao{
        /* position: absolute;
        margin-top: -107px;
        margin-left: 100px; */
        background-color: transparent;
        color: #FFF;
    }
    #h2-suporte{
        background-color: transparent;
        color: #FFF;
        /* position: absolute;
        margin-top: -px;
        margin-left: 100px; */
    }
    #h3-sair{
        background-color: transparent;
        color: #FFF;
        /* position: absolute;
        margin-top: 140px;
        margin-left: 100px; */
    }
    
}